@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    position: relative;
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__top{
        padding-top: 60px;
        padding-bottom: 80px;
        .menu{
            margin: 0;
            .header__btn{
                display: none;
                cursor: pointer;
                margin-left: 30px;
                padding-left: 1.25em;
                position: relative;
                width: 40px;
                height: 40px;
                &-top {
                    top: 0;
                }
                &-middle {
                    top: 15px;
                }
                &-bottom {
                    top: 30px;
                }
                &-top-click {
                    backface-visibility: hidden;
                    top: 15px;
                    transform: rotate(50deg);
                    transition: 0.55s 0.5s;
                }
                &-middle-click {
                    opacity: 0;
                }
                &-bottom-click {
                    backface-visibility: hidden;
                    top: 15px;
                    transform: rotate(-410deg);
                    transition: 0.55s 0.5s;
                }
                &-global {
                    backface-visibility: hidden;
                    position: absolute;
                    left: 0;
                    border-top: 7px solid $green;
                    width: 100%;
                    transition: 0.55s;
                }
            }
            ul{
            float: right;
            display: flex;
            justify-content: space-between;
                li{
                    padding: 0 50px;
                    a{
                        color: $green;
                    }
                }
            }
        }
    }
    &__content{
        float: right;
        &-img{
            padding-bottom: 115px;
        }
        &-title{
            padding-bottom: 150px;
            h1{
                font-weight: 400;
                font-size: 50px;
                        span{
                    font-weight: 700;
                }
            }
        }
        &-subtitle{
            font-size: 30px;
            padding: 20px;
            background: rgba(93, 105, 66, 0.5);
            margin-right: 250px;
            a{
                color: $green;
            }
        }
    }
}

.overlay{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.aside{
    display: flex;
    justify-content: space-between;
    &__content{
        text-align: left;
        padding-top: 170px;
        padding-left: 100px;
        max-width: 550px;
        &-title{
            font-size: 20px;
            font-family: 'Dancing Script', cursive;
            margin-bottom: 50px;
            color: $green;
        }
        &{
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
    }
}

.group3{
    background: rgba(78, 83, 66, 0.8);
    &__inner{
        display: flex;
        justify-content: space-between;
        &-item{
            padding: 100px 30px;
            &-title{
                margin-top: 20px;
                font-size: 16px;
                font-family: 'Dancing Script', cursive;
                margin-bottom: 50px;
                color: #fff;
            }
            &{
                font-weight: 100;
                font-size: 12px;
                color: #fff;
            }
        }
    }
}

.menu{
    margin-bottom: 90px;
    .container{
        max-width: 1080px;
        background: rgba(78, 83, 66, 0.8);
        .menu-title{
            text-align: center;
            margin-top: 90px;
            padding-bottom: 30px;
            h2{
                font-weight: 700;
                padding-top: 65px;
                font-size: 26px;
                font-family: 'Dancing Script', cursive;
                margin-bottom: 0;
                
            }
            h1{
                font-size: 36px;;
                font-weight: 100;
                color: #fff;
                margin: 0;
            }
        }
        .menu__content{
            font-size: 0;
            display: grid;
            grid-template-columns: 270px 270px 270px 270px;
            grid-auto-rows: 274px;
            &__inner{
                text-align: center;
                padding: 50px 65px 60px;
                &-title{
                    font-weight: 700;
                    font-size: 18px;
                    font-family: 'Dancing Script', cursive;
                    padding-bottom: 30px;
                }
                &-text{
                    font-size: 12px;
                    color: #fff;
                    padding-bottom: 20px;
                }
                &-price{
                    font-family: 'Dancing Script', cursive;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}

.group5{
    padding-top: 115px;
    background: rgba(78, 83, 66, 0.8);
    &__inner{
        text-align: center;
        padding-bottom: 115px;
        h3{
            font-weight: 700;
            font-size: 20px;
            font-family: 'Dancing Script', cursive;
            padding-bottom: 30px;
        }
        p{
            font-size: 16px;
            color: #fff;
            padding-bottom: 20px;    
        }
    }
}

.discover{
    background-image: url(../img/discover-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    &-img{
        background-image: url(../img/discover-bg-head.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 240px;
    }
    &__inner{
        background: rgba(62, 65, 54, 0.99);
        &-title{
            text-align: center;
            h2{
                font-weight: 700;
                padding-top: 65px;
                font-size: 36px;
                font-family: 'Dancing Script', cursive;
                margin: 0;
            }
            h3{
                font-weight: 100;
                font-size: 30px;
                padding-bottom: 30px;
                margin: 0;
            }
        }
        &__items{
            display: flex;
            justify-content: space-between;
            max-width: 1110px;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 60px;
            &__left{
                &-item{
                    display: flex;
                    align-items: center;
                    padding-bottom: 40px;
                    &-text{
                        padding-left: 15px;
                        h4{
                            font-weight: 400;
                            font-size: 20px;
                            font-family: 'Dancing Script', cursive;
                            padding-bottom: 20px;
                            margin: 0;
                        }
                        p{
                            font-size: 16px;
                            color: #fff;
                            padding-bottom: 20px;  
                            margin: 0;  
                        }
                    }
                }
            }
            &__right{
                &-item{
                    display: flex;
                    align-items: center;
                    padding-bottom: 40px;
                    &-text{
                        padding-left: 15px;
                        h4{
                            font-weight: 400;
                            font-size: 20px;
                            font-family: 'Dancing Script', cursive;
                            padding-bottom: 20px;
                            margin: 0;
                        }
                        p{
                            font-size: 16px;
                            color: #fff;
                            padding-bottom: 20px;  
                            margin: 0;  
                        }
                    }
                }
            }
        }
    }
}

.img{
    &-imgbottom{
        background-image: url(../img/discover-bg-bottom.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 890px;
    }
    &-imgbottom2{
        background-image: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 890px;
    }
}

.reservation{
    color: #fff;
    &-title{
        text-align: center;
        h2{
            font-weight: 700;
            padding-top: 65px;
            font-size: 36px;
            font-family: 'Dancing Script', cursive;
            margin: 0;
            padding-bottom: 40px;
        }
    }
    &__form{
        &__inner{
        display: flex;
        justify-content: space-around;
        text-transform: none;
        padding-bottom: 60px;
        input{
            border: 1px solid #fff;
            border-radius: 10px;
            background-color: transparent;
            color: #fff;
            font-size: 14px;
            width: 240px;
            padding: 8px 8px 8px 8px;
        }
        }
        .btn{
            text-align: center;
            &-button{
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 8px 80px 8px 80px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
                outline: none;
                color: #fff;
            }
        }
    }
    padding-bottom: 80px;
}

.newmenu{
    background: rgba(78, 83, 66, 0.8);
    &-title{
        text-align: center;
        h2{
            font-weight: 700;
            padding-top: 65px;
            font-size: 36px;
            font-family: 'Dancing Script', cursive;
            margin: 0;
        }
        h3{
            font-weight: 100;
            font-size: 30px;
            padding-bottom: 30px;
            margin: 0;
            color: #fff;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-around;
        padding-bottom: 120px;
        &__item{
            background-color: #fff;
            max-width: 339px;
            &__text{
                color: #4f4e4e;
                text-transform: none;
                padding-left: 20px;
                &-date{
                    p{
                        font-weight: 700;
                        font-size: 14px;
                        color: #555;
                    }
                }
                &-title{
                    h5{
                        padding-bottom: 10px;
                        margin: 0;
                        font-size: 18px;
                    }
                    p{
                        margin: 0;
                        font-size: 18px;
                        padding-bottom: 30px;
                    }
                }
                &-link{
                    a{
                        color: #555;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 20px;
                        position: relative;
                        text-decoration: none;
                        border: 1px solid transparent;
                        transition: all 0.2s;
                        padding-bottom: 28px;
                        &::before {
                            display: block;
                            position: absolute;
                            content: "";
                            height: 2px;
                            width: 0;
                            background-color: #fcdb5a;
                            transition: width .5s ease-in-out, left .5s ease-in-out;
                            left: 50%;
                            bottom: 0;
                        }
                        ::after {
                            display: block;
                            position: absolute;
                            content: "";
                            height: 2px;
                            width: 0;
                            background-color: #fcdb5a;
                            transition: width .5s ease-in-out;
                            left: 50%;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.contacts{
    padding-top: 50px;
    &__inner{
        text-align: center;
        &-text{
            h5{
                padding-bottom: 10px;
                margin: 0;
                font-size: 18px;
                font-family: 'Dancing Script', cursive;
            }
            p{
                margin: 0;
                font-size: 18px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
        &-list{
            padding-top: 40px;
            .menu{
                font-size: 25px;
                line-height: 36px;
                display: flex;
                justify-content: center;
                margin-bottom: 60px;
                li{
                    margin: 0 20px;
                        .contacts__fb{
                            &::before{
                                content: "\ea90";
                                font-family: 'icomoon';
                                left: 0;
                                color: #212;
                                background-color: #fff;
                                border-radius: 20px;
                                padding: 5px;
                            }
                        }
                        .contacts__twit{
                            &::before{
                                content: "\ea96";
                                font-family: 'icomoon';
                                left: 0;
                                color: #212;
                                background-color: #fff;
                                border-radius: 20px;
                                padding: 5px;
                            }
                        }
                        .contacts__inst{
                            &::before{
                                content: "\ea92";
                                font-family: 'icomoon';
                                left: 0;
                                color: #212;
                                background-color: #fff;
                                border-radius: 20px;
                                padding: 5px;
                            }
                        }
                        .contacts__tmb{
                            &::before{
                                content: "\eab9";
                                font-family: 'icomoon';
                                left: 0;
                                color: #212;
                                background-color: #fff;
                                border-radius: 20px;
                                padding: 5px;
                            }
                        }
                        .contacts__google{
                            &::before{
                                content: "\ea8b";
                                font-family: 'icomoon';
                                left: 0;
                                color: #212;
                                background-color: #fff;
                                border-radius: 20px;
                                padding: 5px;
                            }
                        }
                }
            }
        }
    }
}

.footer{
    background: rgba(78, 83, 66, 0.8);
    &__inner{
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding-bottom: 80px;
        padding-top: 70px;
        &-about1{
            width: 340px;
            h5{
                font-size: 24px;
                margin: 0;
                padding-bottom: 50px;
            }
            p{
                font-weight: 100;
                font-size: 18px;
                text-transform: none;
                line-height: 24px;
                margin: 0;
            }
        }
        &-right{
            display: flex;
            &-about2,
            &-about3,
            &-about4{
                width: 90px;
                padding: 0 80px;
                h6{
                    font-size: 18px;
                    margin: 0;
                    padding-bottom: 50px;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}
@import "media";
